/* Custom styles */

/* Disable sticky headers on IndexTable */
.Polaris-IndexTable__TableHeading {
  position: static !important;
}

.Polaris-IndexTable__StickyTableHeader {
  display: none !important;
}

/* Add padding at the bottom of the page for better visual presentation */
.Polaris-Page {
  padding-bottom: 40px !important;
}
